body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Major Mono Display", monospace;
}
.navigationbar {
  margin-top: 7vh;
  margin-left: 1vh;
  margin-right: 3vh;
}
.navigationbar img {
  margin-top: 7px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.biography img {
  height: 55vh;
  width: 100%;
  object-fit: cover;
}
section {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

hr {
  background-color: black;
}
h2 {
  padding-bottom: 20px;
  color: goldenrod;
}
a {
  color: inherit;
  text-decoration: none;
}
a :hover {
  color: black;
}
